body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.fondo{
	width: 100%;
	height: 700px;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
}

.fondo{
	display: flex;
	justify-content: center;
}
picture{
	align-self: flex-end;
}